h1 {
    color: whitesmoke;
    padding: 10px;
}

h2 {
    color: black;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidenav {
    width: 400px;
    padding-left: 10px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #eeeeee;
    color: #fff;
    transition: all 0.3s;
}

.sidenav a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

.card {
    margin: 20px;
    width: 50vw;
}

.forecast {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(53, 126, 223);
    color: rgb(252, 251, 246);
    width: 150px;
}

.forecastHeader {
    margin-left: 20px;
    margin-bottom: 10px;
}

ul {
    margin-top: 20px;
}

li {
    border: black;
    padding: 5px;
    border-style: thin;
    list-style: none;
    color: black;

}

.btn-orange {
    background: orange;
}

.btn-extreme {
    background: purple;
    color: white;
}

.cities {
    margin-top: 20px;
    width: 90%;
}

.city {
   margin-right: 10px;
   margin-left: 10px;
   background: white;
   text-align: left;
    /* border-style: solid; */
    /* float: left; */
    width: 90%;
}

.clear {
    margin-top: 20px;
    width: 90%;
    margin-right: 10px;
   margin-left: 10px;
}